
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<h2>Index</h2>
<div class="container">
    <div class="col-md-12">

        <img src="~/Image/HomePage/scrabble-new-series-7-exam.jpg"/>
    </div>
</div>

