
@{
    Layout = null;
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}


    <div> 
        <h2 style="text-align:center">Exam End</h2>
        <br /><br />
        <h2 style="text-align:center">Organization Name Is: @ViewBag.OrganizationName</h2>
        <h3 style="text-align:center">Course Name Is: @ViewBag.CourseName</h3>
        <h4 style="text-align:center">Total Marks: @ViewBag.Marks</h4>
    </div>
